<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
      Here are a few links that will get you to the various elements of this app.
    </p>
    <ul>
      <li>
        <a href="/slack/users">a list of all slack users</a>
      </li>
      <li>
        <a href="/slack/channels">a list of all slack channels</a>
      </li>
      <li>
        <a href="/slack/channels/C7MUP0W8J">a sample channel history page</a>
      </li>
    </ul>
  </body>
</html>
